<ion-header >
  <ion-toolbar  color="primary" >
    <ion-title  align-title="center">Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
          <ion-card style="border-radius: 10px;" >
              <ion-grid>
                
                
                  <ion-card-header>
                    <ion-row>
                    <ion-col>
                  <ion-card-title>Task 1</ion-card-title>
                </ion-col>
                
                <ion-col>
                  <ion-button (click)="navme()">
                    VIEW IN MAPS
                  </ion-button>
                </ion-col>
              </ion-row>
                  <ion-card-subtitle>1 month</ion-card-subtitle>
                  </ion-card-header>
               
             
                </ion-grid>
                  <ion-card-content>
                    External Wash Weekly + 1 Extra interior wash
                  </ion-card-content>
            </ion-card>
      </ion-item>
      <ion-item>

     
          <ion-card style="border-radius: 10px;">
            <ion-card-header>
              <ion-card-title>Task 2</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash weekly + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
      <ion-card style="border-radius: 10px;">
            <ion-card-header>
              <ion-card-title>Task 3</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash daily + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
      </ion-item>
      </ion-list>
        
      
        
</ion-content>

