<ion-header >
  <ion-toolbar  color="primary" >
    <ion-title  align-title="center">Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor='let task of tasklist;index as i'>
      <ion-item>
          <ion-card style="border-radius: 10px;" >
              <ion-grid>
                
                
                  <ion-card-header>
                    <ion-row>
                    <ion-col>
                  <ion-card-title>{{task.title}}</ion-card-title>
                </ion-col>
                
                <ion-col style="padding-left: 50%;">
                  <ion-button  fill="clear" color="danger"  (click)="navme()">
                    <ion-icon size="large"  name="location-sharp"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
                  <ion-card-subtitle>{{task.duration}}</ion-card-subtitle>
                  </ion-card-header>
               
             
                </ion-grid>
                  <ion-card-content>
                    <ion-label text-wrap>{{task.det}}</ion-label>
                  
                    <ion-button *ngIf="i==0" color="{{bucolor}}" (click)="anonLogin(task)">{{butext}}</ion-button>
                  </ion-card-content>
                  
            </ion-card>
      </ion-item>
      <!-- <ion-item>

     
          <ion-card style="border-radius: 10px;">
            <ion-card-header>
              <ion-card-title>Task 2</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash weekly + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
      <ion-card style="border-radius: 10px;">
            <ion-card-header>
              <ion-card-title>Task 3</ion-card-title>
              <ion-card-subtitle>3 months</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                External Wash daily + 2 Extra interior wash
              </ion-card-content>
        </ion-card>
      </ion-item> -->
      </ion-list>
        
      
        
</ion-content>

